
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #0f0f0f;
  color: white;
}

/* Glass Navbar */
.glass-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 999;
}

.glass-nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.glass-nav a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}

/* Hero */
.hero {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 100px;
}

.hero-img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.section {
  padding: 100px 20px;
  text-align: center;
}

.dark {
  background-color: #151515;
}

.light {
  background-color: #262626;
}

footer {
  padding: 20px;
  text-align: center;
  background: #000;
}
