
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: #fff;
  text-align: center;
}

.hero {
  padding: 50px 20px;
}

.hero img {
  width: 300px;
}

.intro {
  padding: 40px;
}
